@model HrApp.Models.SearchEmployeeViewModel

<form asp-action="Search" class="col-4 m-3">
    <div class="row mb-3">
        <label asp-for="FirstName" class="col-2 col-form-label"></label>
        <div class="col-10">
            <input asp-for="FirstName" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<div class ="col-4 m-3">
    @foreach (Employee employee in Model.Employees)
    {
        <div class="card m-3">
            <div class="card-body p-3">
                <a class="" asp-controller="Employee" asp-action="Details" asp-route-id="@employee.EmployeeId">@employee.FirstName @employee.LastName</a>
            </div>
        </div>
    }
</div>
